.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    

}

#inputimage {

    display:flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.facerecog {

    position: relative;
    width: 500px;
}